.card-section{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    background-color:#0E0C15 ;

}
.pos-image-main-box-gra img{
    width: 100%;
    height: 100%;
    position: relative;
}
.card-text{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.box{
    position: relative;
}
.box-desc-card{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 364px;
}
.pos-image-main-box{
    position: absolute;
    top: 0;
    z-index:17;
    width: 100%;
    height: 100%;
}
.pos-image-main-box img{
    height: 364px;
    width: 100%;
    object-fit: contain;
}
.pv-skull-hover{
    position: absolute;
    top: 0;
 z-index: 17;
    width: 100%;
}
.pv-skull-hover img{
    width: 100%;
    object-fit: contain;
    height: 364px;
}
/*.bg-hover{
    padding: 0 2.5rem;
    font-size: 20px;
    font-family: Sora;
    line-height: 30px;
    object-fit: fill;
    color: var(--white-color);
}*/
.width-text{
    width: 85%;
    font-size: 22px;
}
.width-img{
    width: 95%;
}
.pos-desc-items{
    position: absolute;
    bottom: 15%;
    z-index: 20;
    right: 0;
    width: 95%;
}
.bg-hover{
    position: absolute;
    top: 12%;
    z-index: 25;
    right: 0%;
    color: white;
    display: flex;
    justify-content: center;
}
.custom-container-age{
    width: 94%;
}
.pos-image-trap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(28px);
}
.pos-image-trap img{
    width: 100%;
}

.explore-more{
    font-size: 12px;
font-family: Source Code Pro;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
color: white;
}
.box-triangle-pos {
    z-index: 14;
    position: absolute;
    top: 60px;
    right: 8px;
    border-radius: 12px;
    background: #AC6AFF;
    width: 52px;
    Z-INDEX: z;
    height: 52px;
}
.pos-image-main-box-gra{

width: 100%;    position: absolute;
    top: 8%;
    z-index: 26;
    right: -5%;
}
.hard-gradient-img{
    width: 250px;
    height: 250px;
}
@media (max-width: 767px) {
    .pos-image-trap{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transform: translateY(20%);
    }
    .width-text {
        width: 85%;
        font-size: 18px;
    }
    .bg-hover{
        top: 20%;
    }
    .card-text{
        margin: 2rem 0;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .box-triangle-pos {
        z-index: -1;
        position: absolute;
        top: 2%;
        right: 11%;
        border-radius: 12px;
        background: #AC6AFF;
        width: 52px;
        Z-INDEX: z;
        height: 52px;
    }
    .card-text{
        margin: 2rem 0;
    }
    .card-section .pos-image-trap{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transform: translateY(20%);
    
    }
    .card-section .card-section{
        margin-top: 5rem;
        display: flex;
        justify-content: center;

        background-color:#0E0C15 ;

    }
    .card-section .bg-hover {
        top: 16%;
    }
    .card-section .width-img {
        width: 85%;
    }
    .card-section .width-text {
        width: 70%;
        font-size: 22px;
    }
    .card-section .pos-desc-items {
        position: absolute;
        bottom: 15%;
        z-index: 20;
        left: 17%;
        width: 80%;
    }
  }
  @media (min-width: 1025px)and (max-width: 1224px)  {
    .box-triangle-pos {
        z-index: -1;
        position: absolute;
        top: 2%;
        right: 16%;
        border-radius: 12px;
        background: #AC6AFF;
        width: 52px;
        Z-INDEX: z;
        height: 52px;
    }
    .card-section .width-text {
        width: 60%;
        font-size: 22px;
    }
    .card-section .bg-hover{
        z-index: 25;
        right: 0%;
        color: white;
        display: flex;
        justify-content: center;
        position: relative;
        top: inherit;
    }
    .card-section .pos-desc-items 
    {
        position: relative; 
        z-index: 20;
        bottom: inherit;
        right: 0;
        width: 95%;
        display: flex;
    justify-content: center;
    }
    .card-section .width-img {
    width: 60%;
}
.card-section .card-text {
    margin: 2rem 0;
}
  }
  @media (min-width: 1225px)and (max-width: 1550px)  {
    .box-triangle-pos {
        z-index: -1;
        position: absolute;
        top: 8%;
        right: 3%;
        border-radius: 12px;
        background: #AC6AFF;
        width: 52px;
        Z-INDEX: z;
        height: 52px;
    }
    .card-section .pos-image-trap{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transform: translateY(20%);
    }
    .card-section .card-section{
        margin-top: 5rem;
        display: flex;
        justify-content: center;

        background-color:#0E0C15 ;

    }
    .card-section .bg-hover {
        top: 20%;
    }
    .card-section .width-text{
        width: 85%;
        font-size: 18px;
    }
  }

  @media (min-width: 1550px)  {
    .card-section .pos-image-main-box-gra {
        width: 100%;
        position: absolute;
        top: 8%;
        z-index: 10;
        right: 5%;
    }
    .card-section .pos-image-trap{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transform: translateY(20%);
    }
    .card-section .width-text{
        width: 75%;
        font-size: 20px;
    }
    .card-section .pos-desc-items{
        position: absolute;
        bottom: 15%;
        z-index: 20;
        right: 5%;
        width: 85%;
    }

  }