:root {
  --primary-color: #0E0C15;
  --background-color: #fff;
  --font-text: 'Sora', sans-serif;
  --font-code:'Source Code Pro', monospace;
  --white-color:#fff;
  --grey-color:#CAC6DD
}

body {
  margin: 0;
  font-family: var(--font-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../public/images/bg-full.jpg');
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    font-family: var(--font-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('../public/images/bg-full.jpg');
    background-size: cover;
    background-position-x: center;
  }
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  margin: 0;
}

.custom-container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1600px) {
    .custom-container {
        max-width: 85%;
    }
}
@media (min-width: 1850px) {
    .custom-container {
      max-width: 85%;
    }
  }
@media (min-width: 992px) {
  .custom-container {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .custom-container {
    width: 95%;
  }
}
@media (min-width: 1200px) {
  .custom-container {
    width: 85%;
  }
}